    /* Alertas */
    
    .badge-change-estado {
        display: inline-block;
        padding: 0.1em 0.4em;
        font-size: 65%;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 3px;
        border: 1px solid #9a9cab;
        color: #9a9cab;
    }
    
    .point-alert {
        animation-duration: 1s;
        animation-name: alert;
        animation-iteration-count: infinite;
    }
    
    .item-alert {
        padding: 0.25em !important;
    }
    
    @keyframes alert {
        from {
            box-shadow: 0px 0px 0px 0px #cd201f;
        }
        to {
            box-shadow: 0px 0px 14px 2px #cd201f;
        }
    }
    /* Cards estados */
    
    .card-body {
        padding: 2.5rem 0.5rem !important;
    }
    /* footer */
    
    .footer {
        position: absolute;
        width: 100%;
    }
    /* btn */
    
    .btn-modal-delet-user,
    .btn-modal-update-user,
    .btn-new-user,
    .remove-proyecto,
    .update-proyecto,
    .btn-new-backlog,
    .btnModalAsignarBacklog,
    .btnDetalleBacklog,
    .btnEliminarBacklog,
    .detener-tarea,
    .iniciar-tarea,
    .btn-modal-update,
    #btn-modal-nuevo,
    .cont-btn>button {
        padding: 0px !important;
    }
    /* menu scroll */
    
    .menu-scroll {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    
    .table-responsive ul {
        width: max-content;
        padding-right: 20px;
    }
    /* tareas */
    
    .portlet-content ul li {
        margin-top: 5px;
    }
    
    .portlet-content ul li .btn {
        padding: 0px;
    }
    
    .cont-btn-control-tarea {
        display: flex;
        padding: 0px;
    }
    
    .cont-btn-control-tarea div {
        width: 50%;
    }
    
    .cont-btn-control-tarea div button {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    /* bg */
    
    .bg-green-darck {
        background-color: #26bfb8;
    }
    
    .btn-tomar-prueba-cruzada {
        color: #5eba19 !important;
        text-decoration: none !important;
        cursor: pointer;
    }
    
    .btn-tomar-prueba-cruzada:hover,
    .btn-tomar-prueba-cruzada:focus {
        color: #6ee017 !important;
    }
    
    .btn-tomar-prueba-cruzada:active {
        color: #5eba19 !important;
    }
    
    .btn-finalizar-prueba-cruzada {
        color: #fd9644 !important;
        text-decoration: none !important;
        cursor: pointer;
    }
    
    .btn-finalizar-prueba-cruzada:hover,
    .btn-finalizar-prueba-cruzada:focus {
        color: #fd97449d !important;
    }
    
    .btn-finalizar-prueba-cruzada:active {
        color: #fd9644 !important;
    }
    
    .btn-historial {
        color: #848484;
        text-decoration: none !important;
        cursor: pointer;
    }
    
    .btn-historial:hover,
    .btn-historial:focus {
        color: #4e4e4e !important;
    }
    
    .btn-historial:active {
        color: #848484 !important;
    }
    /*modals*/
    
    .modal-footer button {
        margin: auto !important;
    }
    /*tests en progreso*/
    
    .title-testing {
        margin-left: 0px;
        margin-right: auto;
    }
    
    .icon-testing {
        margin-left: auto;
        margin-right: 0px;
        animation-duration: 1s;
        animation-name: alert-testing;
        animation-iteration-count: infinite;
    }
    
    @keyframes alert-testing {
        from {
            color: rgb(255, 61, 2);
        }
        to {
            color: rgba(255, 61, 2, 0.541);
        }
    }
    
    ul.nav-tabs>li {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .btn-observaciones {
        cursor: pointer;
        box-shadow: 2px 2px 14px -2px #4e4e4e;
    }
    
    .btn-observaciones:active {
        box-shadow: 0px 0px 0px 0px #4e4e4e;
    }
    
    .img-avatar {
        box-shadow: 0px 0px 23px 1px #3e3d3d;
    }
    
    .img-avatar:hover {
        box-shadow: 0px 0px 0px 0px #3e3d3d;
    }
    
    .cuntent-user-random {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* text color*/
    
    .text-white {
        color: #fff;
    }
    /*legenda */
    
    .legenda {
        text-transform: uppercase;
    }
    
    @media (max-width: 768px) {
        .hidden-xs {
            display: none !important;
        }
        .col-xs-6 {
            width: 48%;
            float: left;
        }
    }
    
    .scroll-column {
        overflow: auto;
        max-height: 400px;
        padding: 5px;
    }
    
    .content-adjuntos {
        padding: 10px;
        padding-bottom: 10px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        border: 1px solid #3e4e56;
        border-radius: 5px;
        background-color: #4b5058;
    }
    
    .content-adjuntos .content-adjunto {
        text-align: center;
    }
    
    .content-adjuntos .content-adjunto .btn-delete-adjunto {
        position: absolute;
        right: 20%;
        top: -5px;
        color: #ec3030;
        cursor: pointer;
    }
    
    .content-adjuntos .content-adjunto .btn-delete-adjunto:hover {
        color: #ff0000;
        font-size: 20px;
    }
    
    .content-adjuntos .content-adjunto img {
        cursor: pointer;
    }