.column {
    width: 100%;
    float: left;
    padding-bottom: 25px;
  }
  .portlet {
    margin: 0 0 1em 0;
    padding: 0.3em;
  }
  .portlet:hover, .portlet:active {
    box-shadow: 0px 0px 6px 1px #c5c5c5;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    position: relative;
  }
  .portlet-header label 
  {
    padding: 0px;
    font-weight: initial;
    font-size: 10px;
    display: list-item;
    list-style: none;
    margin: 0px;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-content ul 
  {
    list-style: none;
    margin: 0px;
    margin-left: -35px;
    font-size: 11px;
    text-align: center;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }