

.time-line {
    padding: 5px;
}

.content-time-line {
    border-left: 5px solid #fff; 
    height: auto; 
    margin-left: 85px; 
    padding-bottom: 25px;
    color: #989898;
}

.head-time-line {
    text-align: right;
    position: absolute;
    left: -5px;
    width: 84px;
    font-size: 11px;
    color: #8a8a8a;
}
.head-time-loine label {
    margin: 0px;
}

.circle-line-time {
    margin-left: -18px;
    margin-top: -1px;
    color: #fff;
}

.body-time-line {
    padding: 10px;
}
.body-time-line div {
    background: #f5f5f5;
    margin-left: 35px;
    margin-top: -30px;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #cacaca;
}
.estado-line-time {
    margin: 0px;
}
.informante-time-line {
    margin: 0px; 
    width: 100%; 
    text-align: right; 
    color: #989898;
}